:root{
	--font-1: "Sarina", cursive;
	--font-2:"Outfit", sans-serif;
	--font-color: #695a58;
	--active-font-color:#dd9494;
	--text-color:#443b39;
	--bg-color:#fff7f0;
	--bg-color-2:#e8afaf;
	--bg-btn-color:#e8c1b5;
    --mulish: "Mulish", sans-serif;
}

.title{
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 50px 0px;
}
.title h1{
    font-family: var(--font-2);
    font-size: 1.8rem;
    font-weight: 700;
}

.article{
    background-color: var(--bg-color);
    padding: 0px 10%;
    width: 100%;
    padding-bottom: 50px;
}
.content-name{
    font-family: var(--font-2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.content-name h1{
    margin-bottom: 50px;
}
.contents{
    width: 100%;
    margin-top: 50px;

}
.contents p:first-child{
    margin-bottom: 50px;
}
.contents p{
    text-align: justify;
    font-family: var(--font-2);
    width: 100%;
}
.content{
    margin-bottom: 50px;
}
.content h1{
    font-family: var(--font-2);
    color: var(--active-font-color);
    margin-bottom: 20px;
}

.img2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}