@media (max-width:1250px) {
    main{
        
        padding: 30px 8%;
    }
    
    .about{
        row-gap: 50px;
        width: 100%;
    }
    
    .profile{
        width: 300px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        
    }
    .profile img{
        width: 100%;
        height: 100%;
    }
    .contents{
        width: 100%;
    }
    
    .text{
        margin-bottom: 20px;
    }
    .text h1{
        margin-bottom: 20px;
        color: var(--font-color);
        font-family: var(--font-2);
    }
    .text h1 span{
        color: var(--active-font-color);
        margin-right: 10px;
    }
    .text p{
        font-family: var(--font-2);
        font-size: .9em;
        text-align: left;
    }
    
    .doodles{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .doodles img{
        width: 50%;
    }
    
    
}